/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

/* Generali -------------------------------------游릴游릴游릴---------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden; /* Impedisce lo scrolling orizzontale */
  color: #374d5d;
}

/* Gestione BackGround */
body {
  background-image: url("/sfondo.svg"); /* Percorso dell'immagine */
  background-size: cover; /* Adatta l'immagine alla pagina */
  background-attachment: fixed;
  background-position: center;
}

/* ----------------------------------------------游릴游릴游릴------------------------------------------ */

/* NAV BAR --------------------------------------游릲游릲游릲------------------------------------------- */
.myNav {
  height: 90px;
  background-color: #dde1e5fd;
}

@media (max-width: 410px) {
  .logo-navbar {
    display: none;
  }
}

nav .customDropdown .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

.my-navbar-brand {
  font-weight: 500;
  color: #374d5d;
  font-size: 1.5rem;
}

.nav-text-personalized {
  font-weight: 400;
  font-size: 1.1rem;
}

@media (min-width: 1100px) {
  .myNav {
    height: 100px;
    background-color: #dde1e5fd;
  }
  .my-navbar-brand {
    font-weight: 500;
    color: #374d5d;
    font-size: 2rem;
  }
}

/* -----------------------------------------------游릲游릲游릲-------------------------------------------- */

/* SEARCH BAR-------------------------------------游릵游릵游릵-------------------------------------------- */

.search-personalized::placeholder {
  font-size: 0.9rem;
}

input.search-personalized:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(210, 210, 210, 0.5);
  border-color: #e0dfdf;
}

button.searchBtn {
  background-color: #f8f9fa;
  border-color: #e0dfdf;
}

button.searchBtn:hover {
  background-color: #e3e3e3;
  border-color: #e0dfdf;
}

.result:hover {
  box-shadow: 0px 1px 3px rgba(40, 72, 94, 0.422);
  cursor: pointer;
}

/* ------------------------------------------------游릵游릵游릵----------------------------------------- */

/* EVENTI IN EVIDENZA------------------------------游릳游릳游릳----------------------------------------- */
/* Aggiungiamo un contenitore con sfumatura laterale */
.fade-carosello {
  position: relative;
  overflow: hidden; /* Nasconde tutto ci che fuoriesce dai bordi */
  width: 100%; /* Assicurati che il carosello prenda tutta la larghezza */
}

.fade-carosello::before,
.fade-carosello::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%; /* Aumenta la larghezza della sfumatura per maggiore visibilit */
  pointer-events: none; /* Non interferisce con gli eventi */
  z-index: 1;
  transition: opacity 0.3s ease;
}

/* per l'ombra alle estremit con js */
.fade-carosello::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
}

.fade-carosello::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
}

.fade-carosello.start::before {
  opacity: 1;
}
.fade-carosello.start::after {
  opacity: 0;
}

/* ------------------------------------------------游릳游릳游릳----------------------------------------- */

/* CHOOSE CAPS-------------------------------------游릱游릱游릱----------------------------------------- */
.titoli-sezioni {
  font-size: 1.3rem;
}

.header-pers {
  font-size: 0.92rem;
  color: rgb(55, 77, 93);
}

.card-home {
  transition: background-color 0.3s ease, transform 0.3s ease; /* Effetto di transizione */
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(40, 72, 94, 0.711);
  border-radius: 10px;
  border: #395060 1px solid;
}

.card-home:hover {
  background-color: #e5e5e5;
  cursor: pointer;
  transform: scale(1.02); /* Ingrandisce del 2% */
}
/* ------------------------------------------------游릱游릱游릱----------------------------------------- */

/* CREATE CAPS ------------------------------------游릳游릳游릳----------------------------------------- */
.form-capsula-div {
  margin-inline: 60px;
  padding: 10px;
  background-color: #ffffffa3;
  box-shadow: 0px 1px 3px rgb(83, 111, 133);
  border-radius: 10px;
}

.form-capsula-div h4 {
  font-size: 1.5rem;
  color: #41596b;
}

.form-capsula-div ul {
  list-style-type: none;
  margin-bottom: 0.6rem;
}

.form-capsula-div ul li {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.form-text label {
  font-size: 1.2rem;
}
.form-text input {
  font-size: 1.1rem;
}

.form-text input:focus {
  box-shadow: 0 0 5px rgba(83, 111, 133, 0.502);
  border-color: #e0dfdf;
}

.form-text input::placeholder {
  font-size: 1.1rem;
}

.form-text textarea::placeholder {
  font-size: 1.1rem;
}

.form-text textarea:focus {
  box-shadow: 0 0 5px rgba(83, 111, 133, 0.502);
  border-color: #e0dfdf;
}

.form-text textarea {
  font-size: 1.1rem;
}

.form-text input[type="date"] {
  font-size: 1.1rem;
}

.form-text input[type="date"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(83, 111, 133, 0.5);
  border-color: #e0dfdf;
}

.form-text input[type="file"] {
  font-size: 1.1rem;
  display: none; /* nascondiamo il campo input e lo mascheriamo con un bottone */
}

.form-text input[type="file"]:focus {
  /* ora che 칟 nascosto in teoria non serve pi칯 */
  outline: none;
  box-shadow: 0 0 5px rgba(83, 111, 133, 0.5);
  border-color: #e0dfdf;
}

.disclaimer {
  font-size: 0.9rem;
}

.bottone-crea span {
  font-size: 1.1rem;
}

.bottone-file {
  font-size: 1.1rem;
  background-color: #e0dfdf;
  color: rgb(44, 44, 44);
  border: #41596b;
  box-shadow: 0 0px 2px rgb(53, 53, 53);
  padding: 0.3rem;
  display: block;
}
.bottone-file:hover {
  background-color: #41596b51;
  color: rgb(44, 44, 44);
}

.bottone-crea {
  background: radial-gradient(
    circle,
    rgb(144, 144, 144) 0%,
    rgba(83, 111, 133, 1) 70%
  );
  border: #e0dfdf;
  box-shadow: 0 1px 5px rgb(53, 53, 53);
  transition: all 0.7s ease; /* transizione per effetto morbido */
}

.bottone-crea:hover {
  background: radial-gradient(
    circle,
    rgba(83, 111, 133, 1) 20%,
    /* Colore interno prima */ rgb(144, 144, 144) 100% /* Colore esterno dopo */
  );
  box-shadow: 0 3px 8px rgb(53, 53, 53); /* Aumenta l'ombra durante l'hover */
}

#custom-switch {
  color: #e0dfdf;
  border-color: #a2a1a1;
}

#custom-switch:checked {
  background-color: #5188b1e6;
  color: #e0dfdf;
  border-color: #a2a1a1;
}

#custom-switch:focus {
  outline: none;
  border-color: #e0dfdf;
  box-shadow: 0 0 5px rgba(83, 111, 133, 0.5);
}

label[for="custom-switch"] {
  font-size: 1.1rem;
  color: #2b2b2b;
}

.cancel-btn {
  border-radius: 50%;
}

@media (max-width: 500px) {
  .form-capsula-div h4 {
    font-size: 1.3rem;
    color: #41596b;
  }
}

@media (max-width: 998px) {
  .form-capsula-div {
    margin: -10px;
    margin-left: -20px;
  }
}

/* ------------------------------------------------游릳游릳游릳----------------------------------------- */

/* Login/Registrazione-----------------------------游릳游릳游릳----------------------------------------- */
@media (max-width: 1200px) {
  .login-registrazione {
    max-width: 500px;
    border: #374d5d00 2px solid;
    border-radius: 15px;
    background-color: #374d5d56;
  }
}

@media (max-width: 998px) {
  .login-registrazione {
    max-width: 500px;
    border: #374d5d00 2px solid;
    border-radius: 15px;
    background-color: #374d5d56;
  }
}

@media (min-width: 1200px) {
  .login-registrazione {
    max-width: 700px;
    border: #374d5d00 2px solid;
    border-radius: 15px;
    background-color: #374d5d56;
  }
}
/* ------------------------------------------------游릳游릳游릳----------------------------------------- */

/* Le-mie-cap--------------------------------------游릵游릵游릵-------------------------------------------- */

.laMiaCard {
  cursor: pointer;
  color: #374d5d;
  box-shadow: 0px 4px 10px rgb(40, 72, 94);
  border-radius: 10px;
  border: #395060 1px solid;
}

.laMiaCard:hover {
  cursor: pointer;
  transform: scale(1.02); /* Ingrandisce del 2% */
}

.laMiaCard .card-title {
  font-size: 1.3rem;
  height: 3.3rem;
  overflow: hidden;
}

@media (max-width: 410px) {
  .laMiaCard .card-title {
    font-size: 1rem;
    height: 3.3rem;
    overflow: hidden;
  }
}

.slick-prev,
.slick-next {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev::before,
.slick-next::before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(83, 111, 133, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button::before {
  opacity: 0.95;
  color: rgb(83, 111, 133, 1);
}

@media (max-width: 580px) {
  .container-leMieCaps {
    padding-inline: 35px;
  }
  /*  .slider-leMieCaps {
    width: 85%;
  } */
}

@media (min-width: 680px) {
  .ti-prego-centrati {
    max-width: 420px;
  }
}
/* ------------------------------------------------游릵游릵游릵----------------------------------------- */
/* PROFILO-----------------------------------------游릱游릱游릱----------------------------------------- */

.card-profilo {
  background-color: rgba(65, 89, 107, 0.177);
  color: rgb(55, 77, 93);
  box-shadow: 1px 3px 5px rgb(65, 89, 107);
  font-size: 1.1rem;
  border: none;
}

.avatar {
  width: 120px; /* Imposta una larghezza fissa */
  height: 120px; /* Imposta un'altezza fissa */
  overflow: hidden; /* Assicura che l'immagine non esca dai bordi */
  border-radius: 50%; /* Rende il contenitore tondo */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41596b;
  box-shadow: 2px 3px 4px rgba(65, 89, 107, 0.745);
}

.avatar img {
  width: 100%;
  height: 100%;
}

.name-profilo {
  font-size: 1.7rem;
}

.box-profilo {
  border: rgba(65, 89, 107, 0) 1px solid;
  border-radius: 10px;
  background-color: rgba(246, 247, 247, 0.372);
}

.modifica-profilo-btn {
  position: absolute;
  right: 0;
}

.modifica-profilo-img {
  font-size: 1rem !important;
  color: #334a5b;
}

/* ------------------------------------------------游릱游릱游릱----------------------------------------- */

/*  HOME-------------------------------------------游릴游릴游릴---------------------------------------------- */
.container-home {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px; /* Aggiungi padding a sinistra */
  padding-right: 20px; /* Aggiungi padding a destra */
}

.comingSoon {
  /* background-color: rgba(65, 89, 107, 0.177); */
  opacity: 0.7;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-top: 2px rgb(65, 89, 107) dashed;
  border-bottom: 2px rgb(65, 89, 107) dashed;
  padding: 0px;
}

.comingSoon p {
  border-bottom: 2px rgb(65, 89, 107) dashed;
  padding-block: 5px;
}

/* larghezze per dispositivi diversi */
@media (max-width: 1200px) {
  .container-home {
    max-width: 1000px; /* Larghezza massima per schermi medi */
  }
}

@media (max-width: 992px) {
  .container-home {
    max-width: 800px; /* Larghezza massima per tablet */
  }
}

@media (max-width: 768px) {
  .container-home {
    max-width: 100%; /* Full width per schermi pi칯 piccoli */
    padding-left: 10px; /* Riduci padding sui dispositivi pi칯 piccoli */
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  .container-home {
    padding-left: 5px; /* Ancora pi칯 ridotto sui dispositivi molto piccoli */
    padding-right: 5px;
  }
}

/*  -----------------------------------------------游릴游릴游릴---------------------------------------------- */

/* CAPSULA ----------------------------------------游릲游릲游릲------------------------------------------- */

.card-capsula {
  color: #243b4b;
}

.upped {
  z-index: 10;
}

.carousel-indicators [data-bs-target] {
  background-color: #395060;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #395060;
}

/* Stile quando l'indicatore 칟 attivo */
.carousel-indicators button.active {
  background-color: #007bff; /* Colore quando attivo */
  transform: scale(1.2);
}

/* Effetto hover */
.carousel-indicators button:not(.active):hover {
  background-color: #8bbee2;
}

.white {
  filter: invert(1);
}

.caroselloCapsula {
  height: 500px;
}

.caroselloCapsula img {
  max-height: 500px;
  object-fit: contain;
}

@media (max-width: 576px) {
  .caroselloCapsula {
    max-height: 400px;
  }

  .caroselloCapsula img {
    max-height: 400px;
    object-fit: contain;
  }
}

@media (max-width: 1920px) {
  .messaggio {
    margin-inline: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #6c9bbd29;
  }
}

@media (max-width: 1200px) {
  .messaggio {
    margin-inline: 70px;
    padding: 10px;
    border-radius: 10px;
    background-color: #6c9bbd29;
  }
}

@media (max-width: 992px) {
  .messaggio {
    margin-inline: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #6c9bbd29;
  }
}

@media (max-width: 768px) {
  .messaggio {
    margin-inline: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #6c9bbd29;
  }
}

@media (max-width: 576px) {
  .messaggio {
    margin-inline: 0px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #6c9bbd29;
  }
}

/* ------------------------------------------------游릲游릲游릲------------------------------------------- */
